<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.0.0" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks" version="4.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>